@font-face {
font-family: 'script';
src: url('../fonts/script.eot');
src: url('../fonts/script.eot') format('embedded-opentype')
   , url('../fonts/script.woff') format('woff')
   , url('../fonts/script.ttf') format('truetype')
   , url('../fonts/script.svg') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'keyboard';
src: url('../fonts/keyboard.eot');
src: url('../fonts/keyboard.eot') format('embedded-opentype')
   , url('../fonts/keyboard.woff') format('woff')
   , url('../fonts/keyboard.ttf') format('truetype')
   , url('../fonts/keyboard.svg') format('svg');
font-weight: normal;
font-style: normal;
}

section._abc.active {
display: block;
}

section._abc ul {
max-width: 150vh;
width: 100%;
height: 20vmin;
display: flex;
}

section._abc li {
width: 14.2857%;
height: 100%;
}


/* BLUE */

section.blue li {
background-color: #339;
border-color: #009;
border-top-color: #669;
border-left-color: #669;

font-size: 10vh;
}

section.blue li:not(.touched):hover {
background-color: #44a;
border-color: #008;
border-top-color: #77a;
border-left-color: #77a;
}

section.blue li.touched {
background-color: #228;
border-color: #339;
border-top-color: #117;
border-left-color: #117;
}


/* VOWELS */

section.blue li.vowel {
background-color: #66c;
border-color: #33c;
border-top-color: #99c;
border-left-color: #99c;
}

section.blue li.vowel:not(.touched):hover {
background-color: #66c;
border-color: #339;
border-top-color: #aad;
border-left-color: #aad;
}

section.blue li.vowel.touched {
background-color: #55b;
border-color: #99c;
border-top-color: #339;
border-left-color: #339;
}

._abc li.style,
._abc li.toggle,
._123 p.toggle {
background-color: #888;
border-color: #666;
border-top-color: #999;
border-left-color: #999;
}

section._abc li.style:not(.touched):hover,
section._abc .toggle:not(.touched):hover,
section._123 p.toggle:not(.touched):hover {
background-color: #999;
border-color:#333;
border-top-color: #ccc;
border-left-color: #ccc;
}

section._abc li.style.touched,
section._abc li.toggle.touched,
section._123 p.toggle.touched {
background-color: #777;
border-color:#999;
border-top-color: #555;
border-left-color: #555;
}

._abc.script {
  font-family: 'Marck Script', cursive;
}

._abc.keyboard {
  font-family: serif;
}

._abc.script li.style {
  font-family: keyboard;
}

._abc.keyboard li.style {
  font-family: script;
}

._abc li.style {
  font-size: 16vh;
}

._abc li.toggle {
  font-family: sans-serif;
}

@media (max-aspect-ratio: 8/5) {

  section.blue li {
  font-size: 6vw;
  }

  ._abc li.style {
    font-size: 10vw;
  }

}