html, body {
margin: 0;
height: calc(100vh + 3em);
background-color: #002;

display: flex;
flex-direction: column;
justify-content: center;
color: #fff;

text-align: center;

/*-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none*/; 

font-size: 4vw; 
}

header {
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Optimal 6 x 4 mode */

main {
display: flex;
flex-direction: row;
justify-content: center;
height: 100vmin;
min-width: 150vmin;
width: 100%;
}

article {
display: flex;
flex-direction: column;
justify-content: center;
height: 100%;
width: 150vmin;
}

ul.counters li {
width: 16.6666%;
}

ul.words li,
ul.numbers li {
width: 33.3333%;
}


/* Fallback 4 x 4 square mode */
/* Copy at @media screen and orientation portrait below */

main.square {
display: flex;
flex-direction: row;
justify-content: center;
height: 100vmin;
width: 100%;
min-width:100%;
}

.square article {
display: flex;
flex-direction: column;
justify-content: center;
height: 100%;
width: 100vmin;
}

.square ul.counters li {
width: 25%;
}

.square ul.words li,
.square ul.numbers li {
width: 50%;
}

/* Hide all decoys... */
.square ul.counters li.decoy,
.square ul.counters li.decoy,
.square ul.words li.decoy,
.square ul.numbers li.decoy {
display:none;
background-color: #c66;
}

.square ul.counters li.decoy ~ li.decoy ~ li.decoy,
.square ul.words li.decoy ~ li.decoy,
.square ul.numbers li.decoy ~ li.decoy {
display:inline-flex;
background-color: #6c6;
}


/* Both modes */

ul {
list-style: none;
margin: 0;
padding: 0;
}

article ul {
width: 100%;
}

ul.counters, 
ul.words {
height: 25%;
}

ul.numbers {
height: 50%;
font-size: 40vmin;
}

article li {
height: 100%;

display: inline-flex;
flex-direction: column;
justify-content: center;

box-sizing: border-box;
background-color: #888;

border: 1vmin solid #666;
border-radius: 2.5vmin;
border-top-color: #999;
border-left-color: #999;
}

article li:hover {
border-color:#333;
border-top-color: #ccc;
border-left-color: #ccc;
background-color: #999;
}

article li:focus {
border-color:#ccc;
border-top-color: #333;
border-left-color: #333;
background-color: #777;
}

article li img {
height: 100%;
}

article li div {
display: flex;
flex-direction: column;
justify-content: center;
}

article li p {
margin:0;
font-size: 12.5vmin;
}

span.key {
color: #f90;
}

article li.disabled {
border-color:#999;
background-color: #aaa;
color: #bbb;
}

article li.disabled span {
color: #bbb;
}

article li.disabled img {
opacity: 0.2;
}



@media screen and (orientation:portrait) {

  main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vmin;
  width: 100%;
  min-width:100%;
  }

  article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100vmin;
  }

  ul.counters li {
  width: 25%;
  }

  ul.words li,
  ul.numbers li {
  width: 50%;
  }

  /* Hide all decoys... */
  ul.counters li.decoy,
  ul.counters li.decoy,
  ul.words li.decoy,
  ul.numbers li.decoy {
  display:none;
  }

  /* ... then reveal all but the first one or two */
  ul.counters li.decoy ~ li.decoy ~ li.decoy,
  ul.words li.decoy ~ li.decoy,
  ul.numbers li.decoy ~ li.decoy {
  display:inline-flex;
  }

}