div#number-pad {
height: 100%;
}

div#number-pad ul {
height: 25%;
}

div#number-pad li {
height: 100%;
width: 33.3333%;

background-color: transparent;
border-color: #fff;

font-family: sans-serif;
color: #fff;

opacity: 0.5;
}

div#number-pad li:hover,
div#number-pad li:active {
background-color: transparent;
border-color: #fff;
opacity: 1;
}