section._123>div {
display: flex;
flex-direction: row;
}

._123 ul {
display: flex;
flex-direction: column;
width: 70vmin;
}


section._123 li {
width: 100%;
height: 10vmin;

font-size: 5vmin;
text-align: left;
padding-left: 20vmin;
}

._123 div.image {
width: 80vmin;
display: flex;
flex-direction: column;
}



._123 p.toggle{
width: 14.2857%;
padding: 0;
text-align: center;
border-width: 1vmin;
border-style: solid;
border-radius: 2.5vmin;
width: 21.42857vmin;
height: 20vmin;
display: flex;
justify-content: center;
align-items: center;
font-size: 10vmin;
}

._123 img {
width: 100%;
height: 80vmin;
object-fit: contain;
border-radius: 2.5vmin;


  &:not([src]) {
    opacity: 0; /* required to hide a ghost border */
  }
}

._123 p {
margin: 0;
width: 100%;
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: center;
height: 13.3333vmin;
}

._123 .word {
font-size: 4em;
}

._123 .image div {
display: flex;
flex-direction: row;
align-items: center;
}

@media (max-aspect-ratio: 10/11) {

  section._123>div {
  width: 100vmin;
  }

  section._123 div.image {
  width: 66.6666vmin;
  }

  section._123 ul {
  width: 33.3333vmin;  }

  section._123 li {
  padding-left: 2vmin;
  }
}