/* Widths, heights an font-sizes for #number-pad */

.number-dictation #number-pad li {
width: 24vmin;
height: 25vmin;
font-size: 20vmin;
border-width: 0.2vmin;
}

.number-dictation #number-pad li:hover,
.number-dictation #number-pad li:active {
border-width: 1vmin;
}

.number-dictation #number-pad ul {
width: 75vmin;
}

.number-dictation .mask.fadeout,
.number-dictation #number-pad.fadeout ul {
opacity: 0;
transition: opacity 0.5s;
}

.number-dictation #number-pad li.del {
font-size: 5vmin; /*8min is good for DEL*/
}



/* Superimpose numberpad and image */

section.number-dictation > div {
position: absolute;
top: 0;
left: 0;
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.number-dictation img {
position: absolute;
top: 0;
left: 0
width: 100vmin;
height: 100vmin;
}

.number-dictation .image p {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100vmin;
margin: 0;
color: #000;
}

.number-dictation .mask {
position: absolute;
top: 0;
background-color: #002; /*same as page background*/
opacity: 0.888;
width: 100vmin;
height: 100vmin;
}

/* Place numberpad to right of dialled number*/

div.dialled {
width: 25vmin;
height: 100vmin;
display: flex;
flex-direction: column;
justify-content: start;
}

div.dialled p {
box-sizing: border-box;
width: 90%;
height: 10vmin;
border: 0.2vmin solid #666;
margin: 0 5%;
text-align: right;
font-size: 8vmin;
font-family: sans-serif;
text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.number-dictation .numbers.fadeout .dialled p {
border: none; 
}