
/********************************************************************/
/* FONT-SIZE CALCULATIONS *  CALCULATIONS  * FONT-SIZE CALCULATIONS */
/********************************************************************/

/*
 ASPECT  
        > 16:10      < 16:10      < 15:11      < 10:11 (portrait)
 cell   25   vh       15.5vw      16.67vw      25   vh
                    (≈15  vw)
 h3     16   vh       10  vw
 h2     10+5pvh     6.25+5vw
 h1      6.25vh       3.75vw       
 p       5   vh       3   vw
 c/#    20   vh      12.5 vw      13.33vw      20   vh
 n/w    12.5 vh       7.5 vw       8.33vw      12.5 vh
 sp1    14   vh       8.4 vw     ≈ 9   vw      14   vh
 sp+     7   vh       4.2 vw     ≈ 4.5 vw       7   vh
 */


body {
  height: calc(64vh + 100vh);     /* will be overruled by @media rules */
  min-height: 110vh; /* ensure that page will scroll on phones */
  margin: 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: #222;

  color: #ddd;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 

  text-align: center;
}

.selectable {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; 
}

/* MASK shown for selection of alternative images */
#mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0,0,0,0.8);

  display: none;
}

#mask.multi {
  display: block;
}

article#levels {
  display: flex;
  flex-direction: column;
  width: calc(150vh + 20vh);
  height: 100%;  
}

/* NO TIMER for Introduction, Alphabet and Numbers */
body.timeless article#levels,
body.timeless main section {
  width: 150vh;
}

header {
  height: 64vh; /* will be overruled by @media */
  color: white;
  overflow-y: auto;
}

header h1 {
  padding: 0.5em 0 0.1em;
  margin: 0;
  height: 6.25vh;
  font-size: 6.25vh;
}

header h2 {
  font-size: 15vh;
  margin: 0;
}

header h3 {
  font-size: 10vh;
  padding: 5vh 0 0;
  margin: 0;
}

header p {
  margin: 0 ;
  font-size: 5vh;
  padding: 0.5em 1em;
  text-align: left;
}

/* Optimal 6 x 4 mode, with aspect-ratio > 17:10 */
/* Cells are n x 25vh (= 5/17 of article#levels width) */

main {
  display: flex;
  height: 100vh;
}

section {
  position: relative;
  flex-direction: column;
  width: 150vh;
  height: 100%;

  display: none;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1em;
}

/* Stacked headers */
h1:has(+ h3 + h4),
h1 + h3:has(+ h4),
h1 + h3 + h4 {
  text-align: center;
  margin: 0.325em 0;
}
h1:has(+ h3 + h4) {
  margin-top: 1em;
}

header:has(+ main .splash.active) {
  height: 0;
}
main:has(.splash.active) #feedback {
  height: 0;
}

table {
  margin: 0 auto;
  height: 100%;
  width: 90%;
  border: 1px solid #dededf;
  /* table-layout: fixed; */
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: center;
}
th {
  text-align: center;
  border: 1px solid #666;
  padding: 5px;
}
td {
  border: 1px solid #666;
  padding: 5px;
}
table img {
  width: 100px;
  max-width: 12vw; /* Same width as word "Image" */
}

.splash {
  height: auto!important; /* overrides media queries */
  width: 800px!important;
  max-width: 95vw!important;
  margin: 0 auto;

  h2,
  p {
    text-align: left;
    margin-bottom: 0;
  }

  button.play {
    width: 10em;
    margin: 2em auto 1em;

    color: #ded;
    background-color: #060;
    border: 1px outset #080;
    border-radius: 0.5em;
    padding: 0.5em 0;

    &:hover {
      color: #fff;

      &:active {
        border-style: inset;
        background-color: #040;
      }
    }
  }
}

div#feedback {
  display: flex;
  flex-direction: column;
  width: 20vh;
  height: 100%;
  order: 1;
}

div#progress {
  position: relative;
  width: 100%;
  height: 80vh;
  order: 1;
  display: inline-block;
}

div#progress .current {
  position: relative;
  width: 75%;
  height: 100%;
  background-color: #66c;
}

div#progress .ghost {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  background-color: #fff;
  opacity: 0.2;
}

div#feedback svg {
  height: 20vh;
  width: 20vh;
  fill: #66c;
}


/* NO TIMER for Introduction, Alphabet and Numbers */
body.timeless article#level {
  width: 150vh;
}

body.timeless div#feedback {
  display: none;
}

ul {
display: flex;
list-style: none;
margin: 0;
padding: 0;
}

main section ul {
width: 100%;
}

ul.images {
height: 50%;
}

ul.consonants, 
ul.names, 
ul.words,
ul.numbers  {
height: 25%;
}

ul.consonants,
ul.numbers {
font-size: 20vh;
}

ul.names,
ul.words {
font-size: 12.5vh;
}

ul.consonants li,
ul.numbers li {
width: 16.6667%;
}

ul.images li,
ul.names li,
ul.words li {
width: 33.3333%;
}

main section li {
height: 100%;

display: inline-flex;
flex-direction: column;
justify-content: center;

box-sizing: border-box;
background-color: #888;

border: 1vmin solid #666;
border-radius: 2.5vmin;
border-top-color: #999;
border-left-color: #999;
}

main section li:not(.touched):hover {
background-color: #999;
border-color:#333;
border-top-color: #ccc;
border-left-color: #ccc;
}

main section li.touched {
background-color: #777;
border-color:#999;
border-top-color: #555;
border-left-color: #555;
}

main section li img {
height: 100%;
}

main section li div {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

main section li p {
margin:0;
}

span {
color: #f90;
}

ul.consonants div{
  flex-direction: row;
  height: 100%;
}

ul.consonants span{
  line-height: 25vmin;
}

span.first,
span.key {
font-size: 14vmin;
}

span.helper,
span.filler {
font-size: 7vmin;
opacity: 0.5;
}

span.helper,
span.key {
color: #fff;
}

span.filler {
opacity: 0;
}

main section li.disabled {
border-color:#999;
background-color: #aaa;
color: #bbb;
}

main section li.disabled span {
color: #bbb;
}

main section li.disabled img,
main section li.disabled svg {
opacity: 0.2;
}

li.white span {
color: #fff;
}

li.delay3 span {
transition: color 1s 3s;
}

li.delay5 span {
transition: color 1s 5s;
}

li.delay7 span {
transition: color 1s 7s;
}

li.stay-white span {
color: #fff;
}

/* Only used in first level */
article#levels section.digits svg {
  width: 100%;
  height: 100%;
  /*stroke: black;*/
  fill: #fff;
  opacity: 0.9;
}

/* multiple images */

main section li:hover.multi,
main section li.multi {
flex-direction: row;
border-color: #fff;
}

main section li.multi div {
display: inline-block;
display: block;
flex-direction:row;
z-index: 99;
}

main section li.multi img {
padding: 0;
opacity: 1;
}

main section li.nine img {
height: 33%;
float: right;
}

main section li.four img {
height: 49.9%;
float: right;
}

main section li.update img {
float: left;
}


/* SHRINK TIMER ON RIGHT */
/* Cells are n x 25vh = 31.25vw) */

@media (max-aspect-ratio: 17/10) {

  /* body {
    background-color: #033;
  } */

  article#levels {
    width: 100vw;
  }

  div#feedback {
    width: calc(100vw - 150vh);
    height: 100%;
  }

  div#progress {
    height: calc(250vh - 100vw);
  }

  div#feedback svg {
    height: calc(100vw - 150vh);
    width: calc(100vw - 150vh);
  }

}


/* DECREASE HEIGHT TO FIT WIDTH */
/* Perfect flow would use 62.5 vw for height, 93.75 for width and
   6.25 for feedback width, but it is simpler to round to a 1x1 square 
   of side 31vw. Header height is not changed.
*/

@media (max-aspect-ratio: 16/10) {

  html, body {
    height: calc(40vw + 62vw);
    /* background-color: #030; */
  }

  header {
    height: 40vw;
  }

  header h1 {
    font-size: 3.75vw;
  }

  header h2 {
    font-size: 10vw;
  }

  header h3 {
    font-size: 6vw;
    padding: 3vw 0 0;
  }

  header p {
    font-size: 3vw;
  }

  body.timeless article#levels,
  article#levels {
    width: 100vw;
  }

  main {
    height: 62vw;
  }

  section {
    width: 93vw;
  }

  div#feedback {
    width: 7vw;
  }

  div#progress {
    height: calc(62vw - 6.25vw);
  }

  div#feedback svg {
    height: 6.25vw;
    width: 6.25vw;
  }

  /* NO TIMER for Introduction, Alphabet and Numbers */
  
  body.timeless {
    height: calc(64vh + 100vh);
  }

  body.timeless main section {
    width: 150vh;
  }
  
  body.timeless main {
    height: 100vh;
  }

  /* At this and narrower widths, cell size depends on width */
  ul.consonants,
  ul.numbers {
    font-size: 12.5vw;
  }

  ul.names,
  ul.words {
    font-size: 7.5vw;
  }

  span.first,
  span.key {
    font-size: 8.4vw;
  }

  span.helper,
  span.filler {
    font-size: 4.2vw;
  }
}

/* timeless displays need a minor tweak here */
@media (max-aspect-ratio: 15/10) {


  /* NO TIMER for Introduction, Alphabet and Numbers */
  
  body.timeless{
    height: calc(40vw + 66.6667vw);
  }
  
  body.timeless main {
    height: 66.6667vw;
  }

  body.timeless main section {
    width: 100vw;
  }
}

/* TIMER ABOVE: expanding */
@media (max-aspect-ratio: 15/11) {

  html, body {
    height: calc(40vw + 100vh);
    /* background-color: #330; */
  }

  main {
    height: 100vh;
    flex-direction: column;
  }

  section {
    width: 100vw;
    height: 66.6667vw;
  }

  div#feedback {
    flex-direction: row;
    width: 100vw;
    height: calc(100vh - 66.6667vw);
    order: 0;
  }

  div#progress {
    height: 100%;
    width: calc(166.6667vw - 100vh);
    order: 0;
  }

  div#progress .current {
    height: 75%;
    width: 100%;
  }

  div#progress .ghost {
    left: 0;
    top: 50%;
    height: 50%;
    width: 100%;
  }

  div#feedback svg {
    height: 100%;
    width: calc(100vh - 66.6667vw);
  }

  /* At this and narrower 3x2 widths, cell size is 1/6 width */
  ul.consonants,
  ul.numbers {
    font-size: 13.3333vw;
  }

  ul.words,
  ul.names {
    font-size: 8.3333vw;
  }

  span.first,
  span.key {
    font-size: 9vw;
  }

  span.helper,
  span.filler {
    font-size: 4.5vw;
  }
}

/* TIMER ABOVE: 20% */
@media (max-aspect-ratio: 15/12) {

  html, body {
    height: calc(40vw + 80vw);
    /* background-color: #300; */
  }

  main {
    height: 80vw;
  }

  section {
    width: 100vw;
    height: 66.6667vw;
  }

  div#feedback {
    height: 13.6667vw;
  }

  div#progress {
    width: 90%;
  }

  div#feedback svg {
    width: 13.6667vw;
  }

}


/* timeless only */
@media (max-aspect-ratio: 10/10) {

  body.timeless {
    height: calc(40vw + 100vw);
  }

  body.timeless main section,
  body.timeless main{
    height: 100vw;
  }
}


/* PORTRAIT MODE: expanding */
@media (max-aspect-ratio: 10/11) {

  html, body {
    height: calc(40vw + 100vh);
    /* background-color: #033; */
  }



  main {
    height: 100vh;
    flex-direction: column;
  }

  div#feedback {
    height: calc(100vh - 100vw);
  }

  div#progress {
    width: calc(200vw - 100vh);
  }

  div#feedback svg {
    width: calc(100vh - 100vw);
  }

  section {
    height: 100vw;
  }

  /* At this and narrower widths, cell size is 1/4 width */
  ul.consonants li,
  ul.numbers li {
    width: 25%;
    font-size: 20vw;
  }

  ul.words li,
  ul.names li,
  ul.images li {
  width: 50%;
  font-size: 12.5vw;
  }

  span.first,
  span.key {
    font-size: 14vw;
  }

  span.helper,
  span.filler {
    font-size: 7vw;
  }

  /* Hide all decoys... */
  li.decoy {
  display:none;
  }

  /* ... then reveal all but the first one or two */
  ul.consonants li.decoy ~ li.decoy ~ li.decoy,
  ul.images li.decoy ~ li.decoy,
  ul.names li.decoy ~ li.decoy,
  ul.words li.decoy ~ li.decoy,
  ul.numbers li.decoy ~ li.decoy ~ li.decoy {
  display:inline-flex;
  }
}


/* PORTRAIT MODE: timer 20% */
@media (max-aspect-ratio: 5/6) {

  html, body {
    height: calc(40vw + 120vw);
    /* background-color: #003; */
  }

  main {
    height: 120vw;
    flex-direction: column;
  }

  div#feedback {
    height: 20vw;
  }

  div#progress {
    width: 80%;
  }

  div#feedback svg {
    width: 20vw;
  }
}


/* Centre in space available*/
@media (max-aspect-ratio: 20/37) {

  html, body {
    height: 186vw;
    /* background-color: #033; */
  }

  header {
    height: calc(50vh - 60vw);
  }

}

/* NARROW SCREEN */
@media (max-width: 400px) {

  header h1 {
    font-size: 20px;
  }

  header p {
    font-size: 16px;
  }
}


section.active {
  display: flex;
}



/********************************************************************/
/* TEMPORARY  *  TEMPORARY  *  TEMPORARY  *  TEMPORARY  * TEMPORARY */
/********************************************************************/

/* For log */
pre {
  position: fixed;
  top: 0;
  left: 12vmin;
  margin: 0;
  height: 10em;
  width: calc(100% - 12vmin);

  white-space: pre-wrap;
  font-size: 2.4vmin;
  text-align: left;
  overflow: auto;

  /*pointer-events: none;*/
  background-color: rgba(0,0,0,0.8);
}

aside {
  /* opacity: 0.5; */
  background-color: #0006;
  position: fixed;
  top: 70vmin;
  width: 100%;
  font-size: 8vmin;
  z-index: 999;
  text-shadow: 1px 0 0 #fff6, 0 -1px 0 #fff6, 0 1px 0 #fff6, -1px 0 0 #fff6;
  pointer-events: none;
}

aside:empty {
display: none;
}