html, body {
margin: 0;
height: 100%;
background-color: #002;

display: flex;
flex-direction: column;
justify-content: center;
color: #fff;

text-align: center;

-webkit-user-select: none;  /* Chrome all / Safari all */
-moz-user-select: none;     /* Firefox all */
-ms-user-select: none;      /* IE 10+ */
user-select: none;  
}

/*main {
display: flex;
flex-direction: row;
justify-content: center;
height: 100vmin;
width: 100%;
}*/

main {
display: flex;
flex-direction: row;
justify-content: center;
height: 100vmin;
min-width: 150vmin;
width: 100%;
}

/*article {
display: flex;
flex-direction: column;
justify-content: center;
height: 100%;
width: 100vmin;
}*/

article {
display: flex;
flex-direction: column;
justify-content: center;
height: 100%;
width: 150vmin;
}

ul {
list-style: none;
margin: 0;
padding: 0;
}

article div {
width: 100%;
}

div.counters, 
div.words {
height: 25%;
}

div.numbers {
height: 50%;
font-size: 40vmin;
}

article li {
display:inline-block;
height: 100%;

display: inline-flex;
flex-direction: column;
justify-content: center;

box-sizing: border-box;
background-color: #888;

border: 1vmin solid #666;
border-radius: 2.5vmin;
border-top-color: #999;
border-left-color: #999;
}

article li:hover {
border-color:#333;
border-top-color: #ccc;
border-left-color: #ccc;
background-color: #999;
}

article li:focus {
border-color:#ccc;
border-top-color: #333;
border-left-color: #333;
background-color: #777;
}

article li img {
height: 100%;
}

article li div {
display: flex;
flex-direction: column;
justify-content: center;
}

article li p {
margin:0;
font-size: 12.5vmin;
}


/*div.counters li {
width: 25%;
}

div.words li,
div.numbers li {
width: 50%;
}*/

div.counters li {
width: 16.6666%;
}

div.words li,
div.numbers li {
width: 33.3333%;
}

span.key {
color: #f90;
}

article li.disabled {
border-color:#999;
background-color: #aaa;
color: #bbb;
}

article li.disabled span {
color: #bbb;
}

article li.disabled img {
opacity: 0.2;
}

/*div.counters li:nth-child(even) {background: #336}
div.counters li:nth-child(odd) {background: #663}

div.words li:nth-child(even) {background: #636}
div.words li:nth-child(odd) {background: #363}

div.numbers li:nth-child(even) {background: #633}
div.numbers li:nth-child(odd) {background: #366}

*/