nav {
position: fixed;
top: 12vmin;
left: 0;
bottom: 0;
width: 0;
background-color: rgba(255,255,255,0.8);
z-index: 1;
}

nav input[type=checkbox] {
opacity: 0;
}

nav label {
position: fixed;
top: 0;
left: 0;
width: 12vmin;
height: 12vmin;

display: flex;
align-items: center;
z-index: 1;

text-align: left;
background-color: none;
transition: background 0s 0.2s, width 0.2s 0s linear;
}

nav label svg {
height: 90%;
width: 12vmin;
fill: rgba(255,255,255,0.3333);
}

nav label:hover svg{
fill: #fff;
}

nav input[type=checkbox]:checked ~ label {
width:36vmin;
background-color: #fff;
border-bottom: 1px solid #999;
/*transition: width 2s 1s linear;*/
transition: background 0s 0s, width 0.2s 0.1s linear;
}

nav input[type=checkbox]:checked ~ label svg {
fill: rgba(0,0,0,0.3333);
}

nav input[type=checkbox]:checked ~ label:hover svg {
fill: #000;
}

nav input[type=checkbox]:checked ~ section {
left: 0;
}

nav section {
display: block;
position: absolute;
top: 0;
width: 36vmin;
height: 100%;
background-color: #fff;
overflow-y: auto;
left: -36vmin;

-webkit-transition: left 0.3s linear;
transition: left 0.3s linear;
}

nav ul {
flex-direction: column;
position: relative;
padding: 2vmin;
}

nav li {
height:33vmin ;
position: relative; /*required so that locks appear correctly*/
}

nav div.ref a,
nav li a {
display:block;
width: 30vmin;
height:30vmin;
margin: 0;
font-size: 20vmin;

display: flex;
justify-content: center;
align-items: center;

background-color: #ccc;
border: 1vmin solid #bbb;
border-radius: 2.5vmin;
border-top-color: #ddd;
border-left-color: #ddd;

text-decoration: none;
box-sizing: border-box;

color: #666;
}

nav div.ref a {
background-color: #cdc;
border: 1vmin solid #bcb;
border-radius: 2.5vmin;
border-top-color: #ded;
border-left-color: #ded;

font-size: 12vmin;
margin: 2vmin;
color: #000;  
}

nav li a:visited {
color: #000;
}

nav li a:hover {
border-color: #aaa;
border-top-color: #e4e4e4;
border-left-color: #e4e4e4;
}

nav li a:active {
color: #000;
background-color: #ccc;
border-color: #ddd;
border-top-color: #bbb;
border-left-color: #bbb;
}

nav li.active a {
color: #600;
background-color: #c99;
border-color: #daa;
border-top-color: #b88;
border-left-color: #b88;
}

nav div.ref a.active {
background-color: #8b8;
border: 1vmin solid #9c9;
border-radius: 2.5vmin;
border-top-color: #7a7;
border-left-color: #7a7;

font-size: 12vmin;
margin: 2vmin;
color: #000;  
}

nav li[disabled]::after {
content: "";
background: url(../img/lock.png) 0 0 no-repeat;
background-size: cover;
position: absolute;
bottom: 4vmin;
right: 1vmin;
width: 8vmin;
height: 12vmin;
display: inline-block;
}

nav li[disabled] a {
background-color: #fff;
border: 1px solid #000;
pointer-events: none;
color: #000;
opacity: 0.2;
}