  <article>
    <header>
      Изучите цифры 0 - 9
    </header>
    <main>
      <section>
        <ul class="consonants">
          <li><img src="img/1.png"/></li><!--
       --><li class="decoy"><img src="img/2.png"/></li><!--
       --><li class="decoy disabled"><img src="img/3.png"/></li><!--
       --><li class="decoy"><img src="img/4.png"/></li><!--
       --><li class="decoy"><img src="img/5.png"/></li><!--
       --><li class="decoy"><img src="img/6.png"/></li> 
        </ul>
        <ul class="words">
          <li><p>оди<span class="key">н</span></p></li><!--
       --><li class="decoy"><p><span class="key">в</span>осемь</p></li><!--
       --><li class="decoy">
            <p><span class="key">ч</span>етыре</p>
          </li>
        </ul>
        <ul class="numbers">
        <li class="decoy">9</li><!--
       --><li class="decoy">5</li><!--
       --><li>1</li>
        </ul>
      <section>
    </main>
  </article>