  <article>
    <header>
      Добавить гласные в согласные для создания слов
    </header>
    <main>
      <section>
        <ul class="images">
          <li><img src="media/numbers/8/default.jpg"/></li><!--
       --><li class="decoy"><img src="media/numbers/2/default.jpg"/></li><!--
       --><li class="decoy"><img src="media/numbers/7/default.jpg"/></li> 
        </ul>

        <ul class="words">
          <li class="decoy"><p><span class="key">р</span>ай</p></li><!--
       --><li><p><span class="key">ф</span>ея</p></li><!--
       --><li class="decoy">
            <p>о<span class="key">к</span>о</p>
          </li>
        </ul>

        <ul class="numbers">
        <li class="decoy">1</li><!--
     --><li class="decoy">3</li><!--
     --><li class="decoy">5</li><!--
     --><li class="decoy">6</li><!--
     --><li class=""     >8</li><!--
     --><li class="decoy">9</li>
        </ul>
      <section>
    </main>
  </article>