  <article>
    <header>
      Согласные связаны с числами
    </header>
    <main>
      <section>
        <ul class="consonants">
          <li></li><!--
       --><li></li><!--
       --><li></li><!--
       --><li></li><!--
       --><li></li><!--
       --><li></li> 
        </ul>
        <ul class="words">
          <li></li><!--
       --><li></li><!--
       --><li></li>
        </ul>
        <ul class="numbers">
          <li></li><!--
       --><li></li><!--
       --><li></li>
        </ul>
      <section>
    </main>
  </article>