  <article>
    <header>
      Consonants
    </header>
    <main>
      <section>
        <ul class="counters">
          <li><img src="img/1.png"/></li><!--
       --><li class="decoy"><img src="img/2.png"/></li><!--
       --><li class="decoy"><img src="img/3.png"/></li><!--
       --><li class="decoy"><img src="img/4.png"/></li><!--
       --><li class="decoy"><img src="img/5.png"/></li><!--
       --><li class="decoy"><img src="img/6.png"/></li> 
        </ul>
        <ul class="words">
          <li><p><span class="key">ш</span>есть</p></li><!--
       --><li class="decoy"><p><span class="key">в</span>осемь</p></li><!--
       --><li class="decoy">
            <p><span class="key">н</span>олл</p>
          </li>
        </ul>
        <ul class="numbers">
        <li class="decoy">4</li><!--
       --><li class="decoy">6</li><!--
       --><li>2</li>
        </ul>
      <section>
    </main>
  </article>